@font-face {
  font-family: "MaximumImpact";
  src: url("fonts/MaximumImpact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("fonts/Rubik.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  font-size: 80px;
  font-family: "Rubik", sans-serif;
  color: white;
  text-rendering: geometricPrecision;
}

body {
  background: url("../images/wallpaper1.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 5%;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-dropdown {
  font-size: 16px;
}

.src-button {
  font-size: 16px;
}

.card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
}

.card-title {
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card-content {
  color: #000;
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.expanded-card-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.expanded-card {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  max-width: 800px;
  width: 80%;
  max-height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 0.75rem;
}

.expanded-card img {
  max-width: 400px;
  margin-right: 10px;
}

.expanded-card-title {
  font-size: 2em;
  margin-bottom: 10px;
  color: black;
}

.expanded-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expanded-card-content a {
  display: block;
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  margin: 10px 0;
  text-align: left;
}

.expanded-card-content a:hover {
  text-decoration: underline;
}

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 16s;
}
.firefly:nth-child(1)::after {
  animation-duration: 16s, 5960ms;
  animation-delay: 0ms, 6238ms;
}

@keyframes move1 {
  0% {
    transform: translateX(-49vw) translateY(-40vh) scale(0.29);
  }
  5.8823529412% {
    transform: translateX(-24vw) translateY(23vh) scale(0.4);
  }
  11.7647058824% {
    transform: translateX(4vw) translateY(-21vh) scale(0.27);
  }
  17.6470588235% {
    transform: translateX(-38vw) translateY(-42vh) scale(0.41);
  }
  23.5294117647% {
    transform: translateX(7vw) translateY(-46vh) scale(0.97);
  }
  29.4117647059% {
    transform: translateX(13vw) translateY(13vh) scale(0.55);
  }
  35.2941176471% {
    transform: translateX(-28vw) translateY(50vh) scale(0.83);
  }
  41.1764705882% {
    transform: translateX(-28vw) translateY(18vh) scale(0.69);
  }
  47.0588235294% {
    transform: translateX(9vw) translateY(19vh) scale(0.78);
  }
  52.9411764706% {
    transform: translateX(49vw) translateY(18vh) scale(0.97);
  }
  58.8235294118% {
    transform: translateX(43vw) translateY(34vh) scale(0.92);
  }
  64.7058823529% {
    transform: translateX(-34vw) translateY(-14vh) scale(0.39);
  }
  70.5882352941% {
    transform: translateX(20vw) translateY(-11vh) scale(0.87);
  }
  76.4705882353% {
    transform: translateX(31vw) translateY(-4vh) scale(0.27);
  }
  82.3529411765% {
    transform: translateX(-12vw) translateY(10vh) scale(0.27);
  }
  88.2352941176% {
    transform: translateX(45vw) translateY(-36vh) scale(0.34);
  }
  94.1176470588% {
    transform: translateX(41vw) translateY(-34vh) scale(0.87);
  }
  100% {
    transform: translateX(-10vw) translateY(-27vh) scale(0.86);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 14s;
}
.firefly:nth-child(2)::after {
  animation-duration: 14s, 8341ms;
  animation-delay: 0ms, 1255ms;
}

@keyframes move2 {
  0% {
    transform: translateX(-41vw) translateY(-41vh) scale(0.44);
  }
  4% {
    transform: translateX(-27vw) translateY(49vh) scale(0.72);
  }
  8% {
    transform: translateX(44vw) translateY(7vh) scale(0.59);
  }
  12% {
    transform: translateX(-38vw) translateY(-19vh) scale(0.35);
  }
  16% {
    transform: translateX(-32vw) translateY(-47vh) scale(0.56);
  }
  20% {
    transform: translateX(-40vw) translateY(-14vh) scale(0.58);
  }
  24% {
    transform: translateX(15vw) translateY(-18vh) scale(0.77);
  }
  28% {
    transform: translateX(8vw) translateY(-38vh) scale(0.75);
  }
  32% {
    transform: translateX(34vw) translateY(-19vh) scale(0.36);
  }
  36% {
    transform: translateX(-37vw) translateY(3vh) scale(0.35);
  }
  40% {
    transform: translateX(-8vw) translateY(7vh) scale(0.85);
  }
  44% {
    transform: translateX(-32vw) translateY(44vh) scale(0.67);
  }
  48% {
    transform: translateX(-17vw) translateY(17vh) scale(0.76);
  }
  52% {
    transform: translateX(11vw) translateY(50vh) scale(0.54);
  }
  56% {
    transform: translateX(-20vw) translateY(7vh) scale(0.73);
  }
  60% {
    transform: translateX(48vw) translateY(14vh) scale(0.78);
  }
  64% {
    transform: translateX(-17vw) translateY(22vh) scale(0.95);
  }
  68% {
    transform: translateX(44vw) translateY(4vh) scale(0.88);
  }
  72% {
    transform: translateX(-35vw) translateY(29vh) scale(0.69);
  }
  76% {
    transform: translateX(5vw) translateY(-12vh) scale(0.74);
  }
  80% {
    transform: translateX(-38vw) translateY(-26vh) scale(0.92);
  }
  84% {
    transform: translateX(-28vw) translateY(36vh) scale(0.73);
  }
  88% {
    transform: translateX(-22vw) translateY(-13vh) scale(1);
  }
  92% {
    transform: translateX(-35vw) translateY(23vh) scale(0.61);
  }
  96% {
    transform: translateX(-3vw) translateY(6vh) scale(1);
  }
  100% {
    transform: translateX(28vw) translateY(-13vh) scale(0.65);
  }
}
.firefly:nth-child(3) {
  animation-name: move3;
}
.firefly:nth-child(3)::before {
  animation-duration: 17s;
}
.firefly:nth-child(3)::after {
  animation-duration: 17s, 8470ms;
  animation-delay: 0ms, 4133ms;
}

@keyframes move3 {
  0% {
    transform: translateX(35vw) translateY(-48vh) scale(0.93);
  }
  3.7037037037% {
    transform: translateX(-27vw) translateY(-6vh) scale(0.5);
  }
  7.4074074074% {
    transform: translateX(-14vw) translateY(46vh) scale(0.35);
  }
  11.1111111111% {
    transform: translateX(45vw) translateY(41vh) scale(0.61);
  }
  14.8148148148% {
    transform: translateX(41vw) translateY(26vh) scale(0.88);
  }
  18.5185185185% {
    transform: translateX(-31vw) translateY(40vh) scale(0.82);
  }
  22.2222222222% {
    transform: translateX(-9vw) translateY(46vh) scale(0.51);
  }
  25.9259259259% {
    transform: translateX(1vw) translateY(46vh) scale(0.6);
  }
  29.6296296296% {
    transform: translateX(-45vw) translateY(26vh) scale(0.38);
  }
  33.3333333333% {
    transform: translateX(-35vw) translateY(20vh) scale(0.91);
  }
  37.037037037% {
    transform: translateX(17vw) translateY(7vh) scale(0.9);
  }
  40.7407407407% {
    transform: translateX(19vw) translateY(22vh) scale(0.3);
  }
  44.4444444444% {
    transform: translateX(-36vw) translateY(2vh) scale(0.81);
  }
  48.1481481481% {
    transform: translateX(0vw) translateY(3vh) scale(0.6);
  }
  51.8518518519% {
    transform: translateX(9vw) translateY(9vh) scale(0.51);
  }
  55.5555555556% {
    transform: translateX(9vw) translateY(32vh) scale(0.61);
  }
  59.2592592593% {
    transform: translateX(-13vw) translateY(-34vh) scale(0.65);
  }
  62.962962963% {
    transform: translateX(-49vw) translateY(-43vh) scale(0.74);
  }
  66.6666666667% {
    transform: translateX(50vw) translateY(28vh) scale(0.87);
  }
  70.3703703704% {
    transform: translateX(-4vw) translateY(50vh) scale(0.89);
  }
  74.0740740741% {
    transform: translateX(47vw) translateY(-1vh) scale(0.66);
  }
  77.7777777778% {
    transform: translateX(-16vw) translateY(-29vh) scale(0.69);
  }
  81.4814814815% {
    transform: translateX(11vw) translateY(-36vh) scale(0.4);
  }
  85.1851851852% {
    transform: translateX(33vw) translateY(14vh) scale(0.9);
  }
  88.8888888889% {
    transform: translateX(-24vw) translateY(-43vh) scale(0.28);
  }
  92.5925925926% {
    transform: translateX(-1vw) translateY(46vh) scale(0.99);
  }
  96.2962962963% {
    transform: translateX(18vw) translateY(-17vh) scale(0.57);
  }
  100% {
    transform: translateX(-8vw) translateY(27vh) scale(0.89);
  }
}
.firefly:nth-child(4) {
  animation-name: move4;
}
.firefly:nth-child(4)::before {
  animation-duration: 10s;
}
.firefly:nth-child(4)::after {
  animation-duration: 10s, 5550ms;
  animation-delay: 0ms, 851ms;
}

@keyframes move4 {
  0% {
    transform: translateX(-3vw) translateY(21vh) scale(0.86);
  }
  5.2631578947% {
    transform: translateX(-16vw) translateY(49vh) scale(0.76);
  }
  10.5263157895% {
    transform: translateX(45vw) translateY(-49vh) scale(0.59);
  }
  15.7894736842% {
    transform: translateX(-7vw) translateY(36vh) scale(0.47);
  }
  21.0526315789% {
    transform: translateX(-15vw) translateY(-24vh) scale(0.78);
  }
  26.3157894737% {
    transform: translateX(13vw) translateY(-1vh) scale(0.95);
  }
  31.5789473684% {
    transform: translateX(26vw) translateY(36vh) scale(0.43);
  }
  36.8421052632% {
    transform: translateX(-25vw) translateY(18vh) scale(0.66);
  }
  42.1052631579% {
    transform: translateX(39vw) translateY(-28vh) scale(0.6);
  }
  47.3684210526% {
    transform: translateX(38vw) translateY(44vh) scale(0.31);
  }
  52.6315789474% {
    transform: translateX(21vw) translateY(-22vh) scale(0.39);
  }
  57.8947368421% {
    transform: translateX(34vw) translateY(-22vh) scale(0.58);
  }
  63.1578947368% {
    transform: translateX(14vw) translateY(0vh) scale(0.26);
  }
  68.4210526316% {
    transform: translateX(41vw) translateY(46vh) scale(0.66);
  }
  73.6842105263% {
    transform: translateX(-21vw) translateY(-11vh) scale(0.34);
  }
  78.9473684211% {
    transform: translateX(-16vw) translateY(41vh) scale(0.6);
  }
  84.2105263158% {
    transform: translateX(-19vw) translateY(-18vh) scale(0.76);
  }
  89.4736842105% {
    transform: translateX(49vw) translateY(12vh) scale(0.96);
  }
  94.7368421053% {
    transform: translateX(-27vw) translateY(43vh) scale(0.46);
  }
  100% {
    transform: translateX(5vw) translateY(-22vh) scale(0.69);
  }
}
.firefly:nth-child(5) {
  animation-name: move5;
}
.firefly:nth-child(5)::before {
  animation-duration: 15s;
}
.firefly:nth-child(5)::after {
  animation-duration: 15s, 10805ms;
  animation-delay: 0ms, 1302ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-12vw) translateY(-26vh) scale(0.86);
  }
  3.5714285714% {
    transform: translateX(-4vw) translateY(-35vh) scale(0.47);
  }
  7.1428571429% {
    transform: translateX(-26vw) translateY(-28vh) scale(0.59);
  }
  10.7142857143% {
    transform: translateX(2vw) translateY(-32vh) scale(0.38);
  }
  14.2857142857% {
    transform: translateX(-27vw) translateY(4vh) scale(0.66);
  }
  17.8571428571% {
    transform: translateX(-7vw) translateY(16vh) scale(0.7);
  }
  21.4285714286% {
    transform: translateX(-7vw) translateY(-31vh) scale(0.95);
  }
  25% {
    transform: translateX(47vw) translateY(10vh) scale(0.46);
  }
  28.5714285714% {
    transform: translateX(-9vw) translateY(-2vh) scale(0.71);
  }
  32.1428571429% {
    transform: translateX(8vw) translateY(-33vh) scale(0.59);
  }
  35.7142857143% {
    transform: translateX(-37vw) translateY(44vh) scale(0.4);
  }
  39.2857142857% {
    transform: translateX(14vw) translateY(-43vh) scale(1);
  }
  42.8571428571% {
    transform: translateX(27vw) translateY(19vh) scale(0.75);
  }
  46.4285714286% {
    transform: translateX(-16vw) translateY(-27vh) scale(0.5);
  }
  50% {
    transform: translateX(-31vw) translateY(-47vh) scale(0.49);
  }
  53.5714285714% {
    transform: translateX(-16vw) translateY(-4vh) scale(0.49);
  }
  57.1428571429% {
    transform: translateX(-3vw) translateY(41vh) scale(0.95);
  }
  60.7142857143% {
    transform: translateX(17vw) translateY(26vh) scale(0.47);
  }
  64.2857142857% {
    transform: translateX(21vw) translateY(-48vh) scale(0.51);
  }
  67.8571428571% {
    transform: translateX(25vw) translateY(7vh) scale(0.52);
  }
  71.4285714286% {
    transform: translateX(38vw) translateY(17vh) scale(0.76);
  }
  75% {
    transform: translateX(19vw) translateY(-32vh) scale(0.6);
  }
  78.5714285714% {
    transform: translateX(-4vw) translateY(48vh) scale(0.28);
  }
  82.1428571429% {
    transform: translateX(37vw) translateY(-10vh) scale(0.45);
  }
  85.7142857143% {
    transform: translateX(41vw) translateY(-41vh) scale(0.78);
  }
  89.2857142857% {
    transform: translateX(-41vw) translateY(14vh) scale(0.73);
  }
  92.8571428571% {
    transform: translateX(14vw) translateY(-16vh) scale(0.5);
  }
  96.4285714286% {
    transform: translateX(21vw) translateY(-36vh) scale(0.55);
  }
  100% {
    transform: translateX(45vw) translateY(36vh) scale(0.38);
  }
}
.firefly:nth-child(6) {
  animation-name: move6;
}
.firefly:nth-child(6)::before {
  animation-duration: 13s;
}
.firefly:nth-child(6)::after {
  animation-duration: 13s, 10656ms;
  animation-delay: 0ms, 4765ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-21vw) translateY(37vh) scale(0.76);
  }
  4.1666666667% {
    transform: translateX(23vw) translateY(24vh) scale(0.84);
  }
  8.3333333333% {
    transform: translateX(-19vw) translateY(25vh) scale(0.72);
  }
  12.5% {
    transform: translateX(-28vw) translateY(-45vh) scale(0.83);
  }
  16.6666666667% {
    transform: translateX(-10vw) translateY(-9vh) scale(0.88);
  }
  20.8333333333% {
    transform: translateX(-41vw) translateY(11vh) scale(0.34);
  }
  25% {
    transform: translateX(50vw) translateY(17vh) scale(0.31);
  }
  29.1666666667% {
    transform: translateX(-41vw) translateY(26vh) scale(0.59);
  }
  33.3333333333% {
    transform: translateX(-17vw) translateY(31vh) scale(0.56);
  }
  37.5% {
    transform: translateX(39vw) translateY(-31vh) scale(0.72);
  }
  41.6666666667% {
    transform: translateX(45vw) translateY(41vh) scale(0.62);
  }
  45.8333333333% {
    transform: translateX(37vw) translateY(-29vh) scale(0.6);
  }
  50% {
    transform: translateX(-22vw) translateY(-1vh) scale(0.64);
  }
  54.1666666667% {
    transform: translateX(-17vw) translateY(-45vh) scale(0.63);
  }
  58.3333333333% {
    transform: translateX(-15vw) translateY(-1vh) scale(0.29);
  }
  62.5% {
    transform: translateX(24vw) translateY(-35vh) scale(0.97);
  }
  66.6666666667% {
    transform: translateX(-48vw) translateY(-21vh) scale(1);
  }
  70.8333333333% {
    transform: translateX(39vw) translateY(26vh) scale(0.48);
  }
  75% {
    transform: translateX(22vw) translateY(-5vh) scale(0.43);
  }
  79.1666666667% {
    transform: translateX(-7vw) translateY(6vh) scale(0.64);
  }
  83.3333333333% {
    transform: translateX(2vw) translateY(-49vh) scale(0.95);
  }
  87.5% {
    transform: translateX(41vw) translateY(33vh) scale(0.48);
  }
  91.6666666667% {
    transform: translateX(-42vw) translateY(26vh) scale(0.69);
  }
  95.8333333333% {
    transform: translateX(-19vw) translateY(42vh) scale(0.88);
  }
  100% {
    transform: translateX(10vw) translateY(-11vh) scale(0.31);
  }
}
.firefly:nth-child(7) {
  animation-name: move7;
}
.firefly:nth-child(7)::before {
  animation-duration: 14s;
}
.firefly:nth-child(7)::after {
  animation-duration: 14s, 7616ms;
  animation-delay: 0ms, 4722ms;
}

@keyframes move7 {
  0% {
    transform: translateX(38vw) translateY(0vh) scale(0.5);
  }
  4.1666666667% {
    transform: translateX(-40vw) translateY(35vh) scale(0.96);
  }
  8.3333333333% {
    transform: translateX(16vw) translateY(45vh) scale(0.52);
  }
  12.5% {
    transform: translateX(22vw) translateY(-20vh) scale(0.88);
  }
  16.6666666667% {
    transform: translateX(20vw) translateY(43vh) scale(0.33);
  }
  20.8333333333% {
    transform: translateX(17vw) translateY(-29vh) scale(0.75);
  }
  25% {
    transform: translateX(22vw) translateY(25vh) scale(0.97);
  }
  29.1666666667% {
    transform: translateX(-2vw) translateY(-22vh) scale(0.45);
  }
  33.3333333333% {
    transform: translateX(26vw) translateY(25vh) scale(0.41);
  }
  37.5% {
    transform: translateX(-39vw) translateY(26vh) scale(0.89);
  }
  41.6666666667% {
    transform: translateX(16vw) translateY(1vh) scale(0.43);
  }
  45.8333333333% {
    transform: translateX(-38vw) translateY(-23vh) scale(0.73);
  }
  50% {
    transform: translateX(18vw) translateY(14vh) scale(0.81);
  }
  54.1666666667% {
    transform: translateX(-43vw) translateY(-41vh) scale(0.67);
  }
  58.3333333333% {
    transform: translateX(2vw) translateY(38vh) scale(0.4);
  }
  62.5% {
    transform: translateX(10vw) translateY(-5vh) scale(0.81);
  }
  66.6666666667% {
    transform: translateX(-25vw) translateY(42vh) scale(0.32);
  }
  70.8333333333% {
    transform: translateX(2vw) translateY(22vh) scale(0.78);
  }
  75% {
    transform: translateX(-13vw) translateY(-49vh) scale(0.56);
  }
  79.1666666667% {
    transform: translateX(32vw) translateY(-28vh) scale(0.62);
  }
  83.3333333333% {
    transform: translateX(-38vw) translateY(11vh) scale(0.77);
  }
  87.5% {
    transform: translateX(45vw) translateY(-13vh) scale(0.88);
  }
  91.6666666667% {
    transform: translateX(9vw) translateY(30vh) scale(0.37);
  }
  95.8333333333% {
    transform: translateX(49vw) translateY(-12vh) scale(0.48);
  }
  100% {
    transform: translateX(3vw) translateY(-16vh) scale(0.36);
  }
}
.firefly:nth-child(8) {
  animation-name: move8;
}
.firefly:nth-child(8)::before {
  animation-duration: 17s;
}
.firefly:nth-child(8)::after {
  animation-duration: 17s, 10526ms;
  animation-delay: 0ms, 7443ms;
}

@keyframes move8 {
  0% {
    transform: translateX(-30vw) translateY(0vh) scale(0.7);
  }
  5% {
    transform: translateX(24vw) translateY(-16vh) scale(0.4);
  }
  10% {
    transform: translateX(5vw) translateY(13vh) scale(0.99);
  }
  15% {
    transform: translateX(-3vw) translateY(44vh) scale(0.77);
  }
  20% {
    transform: translateX(-19vw) translateY(-7vh) scale(0.28);
  }
  25% {
    transform: translateX(-19vw) translateY(-45vh) scale(0.26);
  }
  30% {
    transform: translateX(46vw) translateY(21vh) scale(0.61);
  }
  35% {
    transform: translateX(-1vw) translateY(31vh) scale(0.67);
  }
  40% {
    transform: translateX(-47vw) translateY(-31vh) scale(0.88);
  }
  45% {
    transform: translateX(48vw) translateY(47vh) scale(0.73);
  }
  50% {
    transform: translateX(0vw) translateY(20vh) scale(0.52);
  }
  55% {
    transform: translateX(42vw) translateY(-24vh) scale(0.95);
  }
  60% {
    transform: translateX(-32vw) translateY(23vh) scale(0.95);
  }
  65% {
    transform: translateX(-32vw) translateY(17vh) scale(0.66);
  }
  70% {
    transform: translateX(11vw) translateY(25vh) scale(0.74);
  }
  75% {
    transform: translateX(1vw) translateY(-6vh) scale(0.84);
  }
  80% {
    transform: translateX(30vw) translateY(-30vh) scale(0.57);
  }
  85% {
    transform: translateX(-11vw) translateY(-43vh) scale(0.91);
  }
  90% {
    transform: translateX(-28vw) translateY(5vh) scale(0.86);
  }
  95% {
    transform: translateX(-12vw) translateY(-49vh) scale(0.68);
  }
  100% {
    transform: translateX(50vw) translateY(-15vh) scale(0.6);
  }
}
.firefly:nth-child(9) {
  animation-name: move9;
}
.firefly:nth-child(9)::before {
  animation-duration: 12s;
}
.firefly:nth-child(9)::after {
  animation-duration: 12s, 6274ms;
  animation-delay: 0ms, 3383ms;
}

@keyframes move9 {
  0% {
    transform: translateX(29vw) translateY(10vh) scale(0.99);
  }
  4.7619047619% {
    transform: translateX(9vw) translateY(23vh) scale(0.88);
  }
  9.5238095238% {
    transform: translateX(34vw) translateY(-1vh) scale(0.71);
  }
  14.2857142857% {
    transform: translateX(40vw) translateY(-43vh) scale(0.7);
  }
  19.0476190476% {
    transform: translateX(35vw) translateY(50vh) scale(0.78);
  }
  23.8095238095% {
    transform: translateX(-19vw) translateY(30vh) scale(0.51);
  }
  28.5714285714% {
    transform: translateX(-26vw) translateY(-4vh) scale(0.61);
  }
  33.3333333333% {
    transform: translateX(45vw) translateY(34vh) scale(0.76);
  }
  38.0952380952% {
    transform: translateX(-2vw) translateY(-21vh) scale(0.88);
  }
  42.8571428571% {
    transform: translateX(-18vw) translateY(-6vh) scale(0.73);
  }
  47.619047619% {
    transform: translateX(-12vw) translateY(-35vh) scale(0.93);
  }
  52.380952381% {
    transform: translateX(-38vw) translateY(-45vh) scale(0.66);
  }
  57.1428571429% {
    transform: translateX(-21vw) translateY(16vh) scale(0.87);
  }
  61.9047619048% {
    transform: translateX(-7vw) translateY(-8vh) scale(0.49);
  }
  66.6666666667% {
    transform: translateX(37vw) translateY(49vh) scale(0.33);
  }
  71.4285714286% {
    transform: translateX(15vw) translateY(17vh) scale(0.6);
  }
  76.1904761905% {
    transform: translateX(-39vw) translateY(-32vh) scale(0.7);
  }
  80.9523809524% {
    transform: translateX(44vw) translateY(-45vh) scale(0.62);
  }
  85.7142857143% {
    transform: translateX(-4vw) translateY(-42vh) scale(0.68);
  }
  90.4761904762% {
    transform: translateX(-47vw) translateY(15vh) scale(0.58);
  }
  95.2380952381% {
    transform: translateX(-33vw) translateY(45vh) scale(0.57);
  }
  100% {
    transform: translateX(-35vw) translateY(-22vh) scale(0.62);
  }
}
.firefly:nth-child(10) {
  animation-name: move10;
}
.firefly:nth-child(10)::before {
  animation-duration: 18s;
}
.firefly:nth-child(10)::after {
  animation-duration: 18s, 7354ms;
  animation-delay: 0ms, 4127ms;
}

@keyframes move10 {
  0% {
    transform: translateX(-32vw) translateY(25vh) scale(0.91);
  }
  5.8823529412% {
    transform: translateX(-44vw) translateY(12vh) scale(0.96);
  }
  11.7647058824% {
    transform: translateX(-26vw) translateY(-14vh) scale(0.42);
  }
  17.6470588235% {
    transform: translateX(46vw) translateY(4vh) scale(0.39);
  }
  23.5294117647% {
    transform: translateX(40vw) translateY(35vh) scale(0.59);
  }
  29.4117647059% {
    transform: translateX(-14vw) translateY(46vh) scale(0.42);
  }
  35.2941176471% {
    transform: translateX(-47vw) translateY(24vh) scale(0.55);
  }
  41.1764705882% {
    transform: translateX(-47vw) translateY(22vh) scale(0.31);
  }
  47.0588235294% {
    transform: translateX(-16vw) translateY(18vh) scale(0.81);
  }
  52.9411764706% {
    transform: translateX(-26vw) translateY(-26vh) scale(0.9);
  }
  58.8235294118% {
    transform: translateX(44vw) translateY(-36vh) scale(0.81);
  }
  64.7058823529% {
    transform: translateX(42vw) translateY(-7vh) scale(0.61);
  }
  70.5882352941% {
    transform: translateX(19vw) translateY(33vh) scale(0.44);
  }
  76.4705882353% {
    transform: translateX(32vw) translateY(43vh) scale(0.97);
  }
  82.3529411765% {
    transform: translateX(-43vw) translateY(43vh) scale(0.83);
  }
  88.2352941176% {
    transform: translateX(-34vw) translateY(-11vh) scale(0.76);
  }
  94.1176470588% {
    transform: translateX(-7vw) translateY(-34vh) scale(0.48);
  }
  100% {
    transform: translateX(-39vw) translateY(-41vh) scale(0.91);
  }
}
.firefly:nth-child(11) {
  animation-name: move11;
}
.firefly:nth-child(11)::before {
  animation-duration: 13s;
}
.firefly:nth-child(11)::after {
  animation-duration: 13s, 6680ms;
  animation-delay: 0ms, 5667ms;
}

@keyframes move11 {
  0% {
    transform: translateX(31vw) translateY(49vh) scale(0.64);
  }
  5.8823529412% {
    transform: translateX(22vw) translateY(6vh) scale(0.76);
  }
  11.7647058824% {
    transform: translateX(13vw) translateY(-28vh) scale(0.32);
  }
  17.6470588235% {
    transform: translateX(11vw) translateY(9vh) scale(0.73);
  }
  23.5294117647% {
    transform: translateX(-3vw) translateY(2vh) scale(0.67);
  }
  29.4117647059% {
    transform: translateX(-44vw) translateY(-42vh) scale(0.83);
  }
  35.2941176471% {
    transform: translateX(24vw) translateY(40vh) scale(0.28);
  }
  41.1764705882% {
    transform: translateX(7vw) translateY(38vh) scale(0.46);
  }
  47.0588235294% {
    transform: translateX(-49vw) translateY(-4vh) scale(0.88);
  }
  52.9411764706% {
    transform: translateX(-20vw) translateY(-3vh) scale(0.44);
  }
  58.8235294118% {
    transform: translateX(-5vw) translateY(19vh) scale(0.61);
  }
  64.7058823529% {
    transform: translateX(-44vw) translateY(33vh) scale(0.75);
  }
  70.5882352941% {
    transform: translateX(-40vw) translateY(-31vh) scale(0.48);
  }
  76.4705882353% {
    transform: translateX(-3vw) translateY(10vh) scale(0.67);
  }
  82.3529411765% {
    transform: translateX(5vw) translateY(-38vh) scale(0.59);
  }
  88.2352941176% {
    transform: translateX(-26vw) translateY(44vh) scale(0.67);
  }
  94.1176470588% {
    transform: translateX(-34vw) translateY(47vh) scale(0.86);
  }
  100% {
    transform: translateX(36vw) translateY(32vh) scale(0.79);
  }
}
.firefly:nth-child(12) {
  animation-name: move12;
}
.firefly:nth-child(12)::before {
  animation-duration: 10s;
}
.firefly:nth-child(12)::after {
  animation-duration: 10s, 9910ms;
  animation-delay: 0ms, 7971ms;
}

@keyframes move12 {
  0% {
    transform: translateX(3vw) translateY(31vh) scale(0.63);
  }
  3.7037037037% {
    transform: translateX(-21vw) translateY(31vh) scale(0.97);
  }
  7.4074074074% {
    transform: translateX(-44vw) translateY(41vh) scale(0.98);
  }
  11.1111111111% {
    transform: translateX(46vw) translateY(2vh) scale(0.99);
  }
  14.8148148148% {
    transform: translateX(-27vw) translateY(47vh) scale(0.89);
  }
  18.5185185185% {
    transform: translateX(-25vw) translateY(14vh) scale(0.36);
  }
  22.2222222222% {
    transform: translateX(31vw) translateY(-39vh) scale(0.93);
  }
  25.9259259259% {
    transform: translateX(-13vw) translateY(-24vh) scale(0.96);
  }
  29.6296296296% {
    transform: translateX(-12vw) translateY(11vh) scale(0.43);
  }
  33.3333333333% {
    transform: translateX(-37vw) translateY(5vh) scale(0.63);
  }
  37.037037037% {
    transform: translateX(27vw) translateY(11vh) scale(0.73);
  }
  40.7407407407% {
    transform: translateX(-26vw) translateY(-38vh) scale(0.49);
  }
  44.4444444444% {
    transform: translateX(-37vw) translateY(-1vh) scale(0.98);
  }
  48.1481481481% {
    transform: translateX(-31vw) translateY(-36vh) scale(0.73);
  }
  51.8518518519% {
    transform: translateX(-36vw) translateY(-14vh) scale(0.94);
  }
  55.5555555556% {
    transform: translateX(47vw) translateY(14vh) scale(0.35);
  }
  59.2592592593% {
    transform: translateX(11vw) translateY(45vh) scale(0.42);
  }
  62.962962963% {
    transform: translateX(46vw) translateY(6vh) scale(0.93);
  }
  66.6666666667% {
    transform: translateX(-43vw) translateY(1vh) scale(0.36);
  }
  70.3703703704% {
    transform: translateX(-25vw) translateY(24vh) scale(0.66);
  }
  74.0740740741% {
    transform: translateX(-47vw) translateY(24vh) scale(0.8);
  }
  77.7777777778% {
    transform: translateX(-34vw) translateY(23vh) scale(0.8);
  }
  81.4814814815% {
    transform: translateX(47vw) translateY(5vh) scale(0.49);
  }
  85.1851851852% {
    transform: translateX(-14vw) translateY(23vh) scale(0.85);
  }
  88.8888888889% {
    transform: translateX(-30vw) translateY(4vh) scale(0.36);
  }
  92.5925925926% {
    transform: translateX(-12vw) translateY(-42vh) scale(0.89);
  }
  96.2962962963% {
    transform: translateX(19vw) translateY(25vh) scale(0.61);
  }
  100% {
    transform: translateX(48vw) translateY(6vh) scale(0.41);
  }
}
.firefly:nth-child(13) {
  animation-name: move13;
}
.firefly:nth-child(13)::before {
  animation-duration: 18s;
}
.firefly:nth-child(13)::after {
  animation-duration: 18s, 7743ms;
  animation-delay: 0ms, 4912ms;
}

@keyframes move13 {
  0% {
    transform: translateX(30vw) translateY(-17vh) scale(0.79);
  }
  4% {
    transform: translateX(-48vw) translateY(-48vh) scale(0.51);
  }
  8% {
    transform: translateX(46vw) translateY(36vh) scale(0.44);
  }
  12% {
    transform: translateX(16vw) translateY(-47vh) scale(0.77);
  }
  16% {
    transform: translateX(-18vw) translateY(4vh) scale(0.9);
  }
  20% {
    transform: translateX(-35vw) translateY(8vh) scale(1);
  }
  24% {
    transform: translateX(31vw) translateY(46vh) scale(0.66);
  }
  28% {
    transform: translateX(-35vw) translateY(-27vh) scale(0.96);
  }
  32% {
    transform: translateX(-3vw) translateY(4vh) scale(0.74);
  }
  36% {
    transform: translateX(-29vw) translateY(28vh) scale(0.95);
  }
  40% {
    transform: translateX(29vw) translateY(-42vh) scale(0.44);
  }
  44% {
    transform: translateX(20vw) translateY(-33vh) scale(0.88);
  }
  48% {
    transform: translateX(43vw) translateY(50vh) scale(0.58);
  }
  52% {
    transform: translateX(7vw) translateY(-13vh) scale(0.48);
  }
  56% {
    transform: translateX(13vw) translateY(-41vh) scale(0.84);
  }
  60% {
    transform: translateX(15vw) translateY(29vh) scale(0.78);
  }
  64% {
    transform: translateX(-28vw) translateY(19vh) scale(0.56);
  }
  68% {
    transform: translateX(-20vw) translateY(-14vh) scale(0.62);
  }
  72% {
    transform: translateX(-47vw) translateY(0vh) scale(0.68);
  }
  76% {
    transform: translateX(-28vw) translateY(-13vh) scale(0.37);
  }
  80% {
    transform: translateX(-42vw) translateY(-2vh) scale(0.68);
  }
  84% {
    transform: translateX(-32vw) translateY(-28vh) scale(0.47);
  }
  88% {
    transform: translateX(-10vw) translateY(12vh) scale(0.4);
  }
  92% {
    transform: translateX(-27vw) translateY(15vh) scale(0.57);
  }
  96% {
    transform: translateX(-33vw) translateY(38vh) scale(0.4);
  }
  100% {
    transform: translateX(42vw) translateY(22vh) scale(0.98);
  }
}
.firefly:nth-child(14) {
  animation-name: move14;
}
.firefly:nth-child(14)::before {
  animation-duration: 11s;
}
.firefly:nth-child(14)::after {
  animation-duration: 11s, 10739ms;
  animation-delay: 0ms, 8159ms;
}

@keyframes move14 {
  0% {
    transform: translateX(40vw) translateY(-37vh) scale(0.4);
  }
  5.8823529412% {
    transform: translateX(-2vw) translateY(13vh) scale(0.85);
  }
  11.7647058824% {
    transform: translateX(-40vw) translateY(12vh) scale(0.44);
  }
  17.6470588235% {
    transform: translateX(-44vw) translateY(-3vh) scale(0.86);
  }
  23.5294117647% {
    transform: translateX(44vw) translateY(0vh) scale(0.7);
  }
  29.4117647059% {
    transform: translateX(7vw) translateY(-14vh) scale(0.49);
  }
  35.2941176471% {
    transform: translateX(-36vw) translateY(-34vh) scale(0.71);
  }
  41.1764705882% {
    transform: translateX(26vw) translateY(-4vh) scale(0.4);
  }
  47.0588235294% {
    transform: translateX(-25vw) translateY(-45vh) scale(0.97);
  }
  52.9411764706% {
    transform: translateX(6vw) translateY(-7vh) scale(0.8);
  }
  58.8235294118% {
    transform: translateX(-17vw) translateY(-43vh) scale(0.7);
  }
  64.7058823529% {
    transform: translateX(-13vw) translateY(15vh) scale(0.36);
  }
  70.5882352941% {
    transform: translateX(1vw) translateY(21vh) scale(0.34);
  }
  76.4705882353% {
    transform: translateX(28vw) translateY(-7vh) scale(0.65);
  }
  82.3529411765% {
    transform: translateX(-26vw) translateY(35vh) scale(0.64);
  }
  88.2352941176% {
    transform: translateX(-25vw) translateY(17vh) scale(0.93);
  }
  94.1176470588% {
    transform: translateX(-35vw) translateY(40vh) scale(0.56);
  }
  100% {
    transform: translateX(30vw) translateY(48vh) scale(0.89);
  }
}
.firefly:nth-child(15) {
  animation-name: move15;
}
.firefly:nth-child(15)::before {
  animation-duration: 11s;
}
.firefly:nth-child(15)::after {
  animation-duration: 11s, 10691ms;
  animation-delay: 0ms, 8292ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-22vw) translateY(24vh) scale(0.82);
  }
  5.8823529412% {
    transform: translateX(-16vw) translateY(28vh) scale(0.85);
  }
  11.7647058824% {
    transform: translateX(-2vw) translateY(-45vh) scale(1);
  }
  17.6470588235% {
    transform: translateX(-42vw) translateY(-46vh) scale(0.32);
  }
  23.5294117647% {
    transform: translateX(-45vw) translateY(-30vh) scale(0.84);
  }
  29.4117647059% {
    transform: translateX(37vw) translateY(-30vh) scale(0.9);
  }
  35.2941176471% {
    transform: translateX(7vw) translateY(14vh) scale(0.66);
  }
  41.1764705882% {
    transform: translateX(-11vw) translateY(-43vh) scale(0.99);
  }
  47.0588235294% {
    transform: translateX(-49vw) translateY(-28vh) scale(0.38);
  }
  52.9411764706% {
    transform: translateX(40vw) translateY(-1vh) scale(0.7);
  }
  58.8235294118% {
    transform: translateX(26vw) translateY(28vh) scale(0.99);
  }
  64.7058823529% {
    transform: translateX(45vw) translateY(27vh) scale(0.89);
  }
  70.5882352941% {
    transform: translateX(-48vw) translateY(-43vh) scale(0.78);
  }
  76.4705882353% {
    transform: translateX(18vw) translateY(17vh) scale(0.9);
  }
  82.3529411765% {
    transform: translateX(-33vw) translateY(-47vh) scale(0.93);
  }
  88.2352941176% {
    transform: translateX(-3vw) translateY(4vh) scale(0.51);
  }
  94.1176470588% {
    transform: translateX(48vw) translateY(-17vh) scale(0.6);
  }
  100% {
    transform: translateX(22vw) translateY(33vh) scale(0.78);
  }
}
.firefly:nth-child(16) {
  animation-name: move16;
}
.firefly:nth-child(16)::before {
  animation-duration: 13s;
}
.firefly:nth-child(16)::after {
  animation-duration: 13s, 6577ms;
  animation-delay: 0ms, 6504ms;
}

@keyframes move16 {
  0% {
    transform: translateX(-48vw) translateY(-24vh) scale(0.4);
  }
  3.8461538462% {
    transform: translateX(31vw) translateY(14vh) scale(0.36);
  }
  7.6923076923% {
    transform: translateX(32vw) translateY(4vh) scale(0.82);
  }
  11.5384615385% {
    transform: translateX(-43vw) translateY(16vh) scale(0.7);
  }
  15.3846153846% {
    transform: translateX(21vw) translateY(-6vh) scale(0.96);
  }
  19.2307692308% {
    transform: translateX(10vw) translateY(7vh) scale(0.37);
  }
  23.0769230769% {
    transform: translateX(28vw) translateY(38vh) scale(0.9);
  }
  26.9230769231% {
    transform: translateX(-25vw) translateY(-6vh) scale(0.5);
  }
  30.7692307692% {
    transform: translateX(1vw) translateY(7vh) scale(0.75);
  }
  34.6153846154% {
    transform: translateX(14vw) translateY(3vh) scale(0.29);
  }
  38.4615384615% {
    transform: translateX(-31vw) translateY(-2vh) scale(0.57);
  }
  42.3076923077% {
    transform: translateX(29vw) translateY(-23vh) scale(0.53);
  }
  46.1538461538% {
    transform: translateX(21vw) translateY(-16vh) scale(0.62);
  }
  50% {
    transform: translateX(-31vw) translateY(-49vh) scale(0.72);
  }
  53.8461538462% {
    transform: translateX(-33vw) translateY(-22vh) scale(0.8);
  }
  57.6923076923% {
    transform: translateX(-21vw) translateY(27vh) scale(0.69);
  }
  61.5384615385% {
    transform: translateX(1vw) translateY(-18vh) scale(0.99);
  }
  65.3846153846% {
    transform: translateX(-14vw) translateY(-45vh) scale(0.62);
  }
  69.2307692308% {
    transform: translateX(27vw) translateY(-4vh) scale(0.42);
  }
  73.0769230769% {
    transform: translateX(-49vw) translateY(7vh) scale(0.94);
  }
  76.9230769231% {
    transform: translateX(-15vw) translateY(37vh) scale(0.78);
  }
  80.7692307692% {
    transform: translateX(-11vw) translateY(-30vh) scale(0.84);
  }
  84.6153846154% {
    transform: translateX(-35vw) translateY(-35vh) scale(0.83);
  }
  88.4615384615% {
    transform: translateX(9vw) translateY(-41vh) scale(0.96);
  }
  92.3076923077% {
    transform: translateX(-21vw) translateY(-37vh) scale(0.97);
  }
  96.1538461538% {
    transform: translateX(-34vw) translateY(30vh) scale(0.6);
  }
  100% {
    transform: translateX(-29vw) translateY(30vh) scale(0.56);
  }
}
.firefly:nth-child(17) {
  animation-name: move17;
}
.firefly:nth-child(17)::before {
  animation-duration: 10s;
}
.firefly:nth-child(17)::after {
  animation-duration: 10s, 10811ms;
  animation-delay: 0ms, 5291ms;
}

@keyframes move17 {
  0% {
    transform: translateX(23vw) translateY(-39vh) scale(0.82);
  }
  3.8461538462% {
    transform: translateX(13vw) translateY(22vh) scale(0.9);
  }
  7.6923076923% {
    transform: translateX(25vw) translateY(14vh) scale(0.48);
  }
  11.5384615385% {
    transform: translateX(-19vw) translateY(-25vh) scale(0.93);
  }
  15.3846153846% {
    transform: translateX(24vw) translateY(-28vh) scale(0.73);
  }
  19.2307692308% {
    transform: translateX(46vw) translateY(35vh) scale(0.76);
  }
  23.0769230769% {
    transform: translateX(45vw) translateY(10vh) scale(0.34);
  }
  26.9230769231% {
    transform: translateX(-8vw) translateY(9vh) scale(0.98);
  }
  30.7692307692% {
    transform: translateX(42vw) translateY(-38vh) scale(0.74);
  }
  34.6153846154% {
    transform: translateX(-8vw) translateY(10vh) scale(0.65);
  }
  38.4615384615% {
    transform: translateX(33vw) translateY(-25vh) scale(0.79);
  }
  42.3076923077% {
    transform: translateX(11vw) translateY(24vh) scale(0.38);
  }
  46.1538461538% {
    transform: translateX(-33vw) translateY(38vh) scale(0.41);
  }
  50% {
    transform: translateX(3vw) translateY(30vh) scale(0.34);
  }
  53.8461538462% {
    transform: translateX(30vw) translateY(-37vh) scale(0.86);
  }
  57.6923076923% {
    transform: translateX(-23vw) translateY(-31vh) scale(0.76);
  }
  61.5384615385% {
    transform: translateX(-32vw) translateY(-40vh) scale(0.35);
  }
  65.3846153846% {
    transform: translateX(41vw) translateY(-23vh) scale(0.77);
  }
  69.2307692308% {
    transform: translateX(-31vw) translateY(49vh) scale(0.64);
  }
  73.0769230769% {
    transform: translateX(21vw) translateY(36vh) scale(0.29);
  }
  76.9230769231% {
    transform: translateX(-33vw) translateY(24vh) scale(0.94);
  }
  80.7692307692% {
    transform: translateX(47vw) translateY(14vh) scale(0.98);
  }
  84.6153846154% {
    transform: translateX(36vw) translateY(21vh) scale(0.88);
  }
  88.4615384615% {
    transform: translateX(11vw) translateY(-18vh) scale(0.96);
  }
  92.3076923077% {
    transform: translateX(-32vw) translateY(-24vh) scale(0.33);
  }
  96.1538461538% {
    transform: translateX(14vw) translateY(-49vh) scale(0.34);
  }
  100% {
    transform: translateX(-6vw) translateY(37vh) scale(0.94);
  }
}
.firefly:nth-child(18) {
  animation-name: move18;
}
.firefly:nth-child(18)::before {
  animation-duration: 11s;
}
.firefly:nth-child(18)::after {
  animation-duration: 11s, 7462ms;
  animation-delay: 0ms, 6218ms;
}

@keyframes move18 {
  0% {
    transform: translateX(45vw) translateY(23vh) scale(0.88);
  }
  5% {
    transform: translateX(9vw) translateY(39vh) scale(0.58);
  }
  10% {
    transform: translateX(-34vw) translateY(15vh) scale(1);
  }
  15% {
    transform: translateX(3vw) translateY(-48vh) scale(0.4);
  }
  20% {
    transform: translateX(-22vw) translateY(30vh) scale(0.6);
  }
  25% {
    transform: translateX(33vw) translateY(-41vh) scale(0.61);
  }
  30% {
    transform: translateX(-12vw) translateY(-3vh) scale(0.63);
  }
  35% {
    transform: translateX(41vw) translateY(42vh) scale(0.33);
  }
  40% {
    transform: translateX(18vw) translateY(25vh) scale(0.64);
  }
  45% {
    transform: translateX(-17vw) translateY(43vh) scale(0.69);
  }
  50% {
    transform: translateX(24vw) translateY(-42vh) scale(0.28);
  }
  55% {
    transform: translateX(-20vw) translateY(-47vh) scale(0.58);
  }
  60% {
    transform: translateX(-47vw) translateY(39vh) scale(0.38);
  }
  65% {
    transform: translateX(-39vw) translateY(-19vh) scale(0.45);
  }
  70% {
    transform: translateX(10vw) translateY(42vh) scale(0.69);
  }
  75% {
    transform: translateX(-24vw) translateY(47vh) scale(0.97);
  }
  80% {
    transform: translateX(-34vw) translateY(36vh) scale(0.8);
  }
  85% {
    transform: translateX(35vw) translateY(-11vh) scale(0.41);
  }
  90% {
    transform: translateX(-22vw) translateY(40vh) scale(0.87);
  }
  95% {
    transform: translateX(-37vw) translateY(14vh) scale(0.52);
  }
  100% {
    transform: translateX(5vw) translateY(42vh) scale(0.65);
  }
}
.firefly:nth-child(19) {
  animation-name: move19;
}
.firefly:nth-child(19)::before {
  animation-duration: 11s;
}
.firefly:nth-child(19)::after {
  animation-duration: 11s, 8278ms;
  animation-delay: 0ms, 2079ms;
}

@keyframes move19 {
  0% {
    transform: translateX(29vw) translateY(1vh) scale(0.58);
  }
  3.5714285714% {
    transform: translateX(-9vw) translateY(33vh) scale(0.49);
  }
  7.1428571429% {
    transform: translateX(4vw) translateY(-3vh) scale(0.53);
  }
  10.7142857143% {
    transform: translateX(17vw) translateY(5vh) scale(0.61);
  }
  14.2857142857% {
    transform: translateX(-21vw) translateY(26vh) scale(0.79);
  }
  17.8571428571% {
    transform: translateX(-15vw) translateY(8vh) scale(0.8);
  }
  21.4285714286% {
    transform: translateX(26vw) translateY(5vh) scale(0.63);
  }
  25% {
    transform: translateX(-49vw) translateY(37vh) scale(0.3);
  }
  28.5714285714% {
    transform: translateX(21vw) translateY(-3vh) scale(0.94);
  }
  32.1428571429% {
    transform: translateX(10vw) translateY(-42vh) scale(0.43);
  }
  35.7142857143% {
    transform: translateX(-41vw) translateY(13vh) scale(0.45);
  }
  39.2857142857% {
    transform: translateX(-28vw) translateY(20vh) scale(0.31);
  }
  42.8571428571% {
    transform: translateX(-48vw) translateY(-22vh) scale(0.39);
  }
  46.4285714286% {
    transform: translateX(15vw) translateY(-42vh) scale(0.42);
  }
  50% {
    transform: translateX(-7vw) translateY(-13vh) scale(0.73);
  }
  53.5714285714% {
    transform: translateX(16vw) translateY(33vh) scale(0.98);
  }
  57.1428571429% {
    transform: translateX(39vw) translateY(8vh) scale(0.59);
  }
  60.7142857143% {
    transform: translateX(5vw) translateY(-20vh) scale(0.84);
  }
  64.2857142857% {
    transform: translateX(37vw) translateY(-24vh) scale(0.38);
  }
  67.8571428571% {
    transform: translateX(-34vw) translateY(11vh) scale(0.97);
  }
  71.4285714286% {
    transform: translateX(-36vw) translateY(-3vh) scale(1);
  }
  75% {
    transform: translateX(45vw) translateY(1vh) scale(0.61);
  }
  78.5714285714% {
    transform: translateX(3vw) translateY(-34vh) scale(0.43);
  }
  82.1428571429% {
    transform: translateX(32vw) translateY(-20vh) scale(0.42);
  }
  85.7142857143% {
    transform: translateX(35vw) translateY(-1vh) scale(0.59);
  }
  89.2857142857% {
    transform: translateX(-27vw) translateY(-32vh) scale(0.85);
  }
  92.8571428571% {
    transform: translateX(-29vw) translateY(45vh) scale(0.27);
  }
  96.4285714286% {
    transform: translateX(22vw) translateY(-42vh) scale(0.42);
  }
  100% {
    transform: translateX(-16vw) translateY(30vh) scale(0.92);
  }
}
.firefly:nth-child(20) {
  animation-name: move20;
}
.firefly:nth-child(20)::before {
  animation-duration: 18s;
}
.firefly:nth-child(20)::after {
  animation-duration: 18s, 10336ms;
  animation-delay: 0ms, 8000ms;
}

@keyframes move20 {
  0% {
    transform: translateX(-13vw) translateY(-39vh) scale(0.97);
  }
  3.5714285714% {
    transform: translateX(49vw) translateY(-45vh) scale(0.32);
  }
  7.1428571429% {
    transform: translateX(4vw) translateY(39vh) scale(0.68);
  }
  10.7142857143% {
    transform: translateX(-12vw) translateY(-46vh) scale(0.64);
  }
  14.2857142857% {
    transform: translateX(36vw) translateY(4vh) scale(0.38);
  }
  17.8571428571% {
    transform: translateX(25vw) translateY(-24vh) scale(0.75);
  }
  21.4285714286% {
    transform: translateX(-20vw) translateY(-20vh) scale(0.35);
  }
  25% {
    transform: translateX(29vw) translateY(-30vh) scale(0.61);
  }
  28.5714285714% {
    transform: translateX(-19vw) translateY(5vh) scale(0.32);
  }
  32.1428571429% {
    transform: translateX(-26vw) translateY(-20vh) scale(0.89);
  }
  35.7142857143% {
    transform: translateX(-45vw) translateY(44vh) scale(0.8);
  }
  39.2857142857% {
    transform: translateX(-41vw) translateY(21vh) scale(0.71);
  }
  42.8571428571% {
    transform: translateX(32vw) translateY(33vh) scale(0.71);
  }
  46.4285714286% {
    transform: translateX(-39vw) translateY(-36vh) scale(0.48);
  }
  50% {
    transform: translateX(4vw) translateY(46vh) scale(0.92);
  }
  53.5714285714% {
    transform: translateX(14vw) translateY(-3vh) scale(0.98);
  }
  57.1428571429% {
    transform: translateX(21vw) translateY(-22vh) scale(0.69);
  }
  60.7142857143% {
    transform: translateX(-46vw) translateY(-9vh) scale(0.64);
  }
  64.2857142857% {
    transform: translateX(18vw) translateY(-15vh) scale(0.85);
  }
  67.8571428571% {
    transform: translateX(-22vw) translateY(-16vh) scale(0.65);
  }
  71.4285714286% {
    transform: translateX(36vw) translateY(-41vh) scale(0.65);
  }
  75% {
    transform: translateX(9vw) translateY(34vh) scale(0.41);
  }
  78.5714285714% {
    transform: translateX(-18vw) translateY(-45vh) scale(0.48);
  }
  82.1428571429% {
    transform: translateX(11vw) translateY(-31vh) scale(0.57);
  }
  85.7142857143% {
    transform: translateX(47vw) translateY(-40vh) scale(0.63);
  }
  89.2857142857% {
    transform: translateX(-33vw) translateY(-40vh) scale(0.37);
  }
  92.8571428571% {
    transform: translateX(13vw) translateY(-29vh) scale(0.53);
  }
  96.4285714286% {
    transform: translateX(-10vw) translateY(-47vh) scale(0.95);
  }
  100% {
    transform: translateX(8vw) translateY(-49vh) scale(0.74);
  }
}
.firefly:nth-child(21) {
  animation-name: move21;
}
.firefly:nth-child(21)::before {
  animation-duration: 13s;
}
.firefly:nth-child(21)::after {
  animation-duration: 13s, 10121ms;
  animation-delay: 0ms, 7986ms;
}

@keyframes move21 {
  0% {
    transform: translateX(-47vw) translateY(41vh) scale(0.33);
  }
  4.347826087% {
    transform: translateX(49vw) translateY(-1vh) scale(0.38);
  }
  8.6956521739% {
    transform: translateX(-14vw) translateY(5vh) scale(0.51);
  }
  13.0434782609% {
    transform: translateX(-48vw) translateY(34vh) scale(0.36);
  }
  17.3913043478% {
    transform: translateX(-14vw) translateY(-36vh) scale(0.38);
  }
  21.7391304348% {
    transform: translateX(-15vw) translateY(-34vh) scale(0.47);
  }
  26.0869565217% {
    transform: translateX(-7vw) translateY(41vh) scale(0.35);
  }
  30.4347826087% {
    transform: translateX(-7vw) translateY(43vh) scale(0.38);
  }
  34.7826086957% {
    transform: translateX(-43vw) translateY(-10vh) scale(0.52);
  }
  39.1304347826% {
    transform: translateX(-5vw) translateY(-41vh) scale(0.74);
  }
  43.4782608696% {
    transform: translateX(-46vw) translateY(12vh) scale(0.61);
  }
  47.8260869565% {
    transform: translateX(-44vw) translateY(22vh) scale(0.98);
  }
  52.1739130435% {
    transform: translateX(43vw) translateY(29vh) scale(0.95);
  }
  56.5217391304% {
    transform: translateX(-27vw) translateY(-10vh) scale(1);
  }
  60.8695652174% {
    transform: translateX(34vw) translateY(-8vh) scale(0.9);
  }
  65.2173913043% {
    transform: translateX(-4vw) translateY(-36vh) scale(0.33);
  }
  69.5652173913% {
    transform: translateX(50vw) translateY(36vh) scale(0.28);
  }
  73.9130434783% {
    transform: translateX(50vw) translateY(48vh) scale(0.75);
  }
  78.2608695652% {
    transform: translateX(20vw) translateY(39vh) scale(0.29);
  }
  82.6086956522% {
    transform: translateX(47vw) translateY(-9vh) scale(0.44);
  }
  86.9565217391% {
    transform: translateX(38vw) translateY(-33vh) scale(0.41);
  }
  91.3043478261% {
    transform: translateX(44vw) translateY(16vh) scale(0.46);
  }
  95.652173913% {
    transform: translateX(21vw) translateY(38vh) scale(0.27);
  }
  100% {
    transform: translateX(-4vw) translateY(36vh) scale(0.38);
  }
}
.firefly:nth-child(22) {
  animation-name: move22;
}
.firefly:nth-child(22)::before {
  animation-duration: 11s;
}
.firefly:nth-child(22)::after {
  animation-duration: 11s, 7899ms;
  animation-delay: 0ms, 6414ms;
}

@keyframes move22 {
  0% {
    transform: translateX(-44vw) translateY(24vh) scale(0.3);
  }
  3.5714285714% {
    transform: translateX(47vw) translateY(35vh) scale(0.63);
  }
  7.1428571429% {
    transform: translateX(45vw) translateY(24vh) scale(0.8);
  }
  10.7142857143% {
    transform: translateX(23vw) translateY(-25vh) scale(0.44);
  }
  14.2857142857% {
    transform: translateX(8vw) translateY(-12vh) scale(0.62);
  }
  17.8571428571% {
    transform: translateX(23vw) translateY(8vh) scale(0.68);
  }
  21.4285714286% {
    transform: translateX(-22vw) translateY(-18vh) scale(0.38);
  }
  25% {
    transform: translateX(-39vw) translateY(-32vh) scale(0.4);
  }
  28.5714285714% {
    transform: translateX(20vw) translateY(24vh) scale(0.8);
  }
  32.1428571429% {
    transform: translateX(38vw) translateY(-1vh) scale(0.54);
  }
  35.7142857143% {
    transform: translateX(2vw) translateY(-41vh) scale(0.43);
  }
  39.2857142857% {
    transform: translateX(-26vw) translateY(-33vh) scale(0.3);
  }
  42.8571428571% {
    transform: translateX(23vw) translateY(33vh) scale(0.32);
  }
  46.4285714286% {
    transform: translateX(34vw) translateY(2vh) scale(1);
  }
  50% {
    transform: translateX(12vw) translateY(36vh) scale(0.77);
  }
  53.5714285714% {
    transform: translateX(-18vw) translateY(-3vh) scale(0.81);
  }
  57.1428571429% {
    transform: translateX(18vw) translateY(-33vh) scale(0.43);
  }
  60.7142857143% {
    transform: translateX(18vw) translateY(8vh) scale(0.5);
  }
  64.2857142857% {
    transform: translateX(20vw) translateY(3vh) scale(0.39);
  }
  67.8571428571% {
    transform: translateX(17vw) translateY(3vh) scale(0.61);
  }
  71.4285714286% {
    transform: translateX(-9vw) translateY(5vh) scale(0.26);
  }
  75% {
    transform: translateX(-11vw) translateY(-22vh) scale(0.97);
  }
  78.5714285714% {
    transform: translateX(-4vw) translateY(-43vh) scale(0.68);
  }
  82.1428571429% {
    transform: translateX(9vw) translateY(31vh) scale(0.39);
  }
  85.7142857143% {
    transform: translateX(-23vw) translateY(35vh) scale(0.38);
  }
  89.2857142857% {
    transform: translateX(42vw) translateY(-31vh) scale(0.97);
  }
  92.8571428571% {
    transform: translateX(39vw) translateY(43vh) scale(0.29);
  }
  96.4285714286% {
    transform: translateX(17vw) translateY(-39vh) scale(0.52);
  }
  100% {
    transform: translateX(8vw) translateY(0vh) scale(0.6);
  }
}
.firefly:nth-child(23) {
  animation-name: move23;
}
.firefly:nth-child(23)::before {
  animation-duration: 16s;
}
.firefly:nth-child(23)::after {
  animation-duration: 16s, 10816ms;
  animation-delay: 0ms, 6562ms;
}

@keyframes move23 {
  0% {
    transform: translateX(-34vw) translateY(-44vh) scale(0.83);
  }
  5.5555555556% {
    transform: translateX(-40vw) translateY(11vh) scale(1);
  }
  11.1111111111% {
    transform: translateX(0vw) translateY(-38vh) scale(0.42);
  }
  16.6666666667% {
    transform: translateX(39vw) translateY(29vh) scale(0.67);
  }
  22.2222222222% {
    transform: translateX(13vw) translateY(39vh) scale(0.79);
  }
  27.7777777778% {
    transform: translateX(43vw) translateY(-10vh) scale(0.73);
  }
  33.3333333333% {
    transform: translateX(-43vw) translateY(-19vh) scale(0.75);
  }
  38.8888888889% {
    transform: translateX(5vw) translateY(25vh) scale(0.65);
  }
  44.4444444444% {
    transform: translateX(-45vw) translateY(-33vh) scale(0.47);
  }
  50% {
    transform: translateX(46vw) translateY(-10vh) scale(0.35);
  }
  55.5555555556% {
    transform: translateX(-49vw) translateY(-49vh) scale(0.46);
  }
  61.1111111111% {
    transform: translateX(-2vw) translateY(28vh) scale(0.36);
  }
  66.6666666667% {
    transform: translateX(49vw) translateY(14vh) scale(0.7);
  }
  72.2222222222% {
    transform: translateX(34vw) translateY(9vh) scale(0.46);
  }
  77.7777777778% {
    transform: translateX(32vw) translateY(-43vh) scale(0.87);
  }
  83.3333333333% {
    transform: translateX(-32vw) translateY(0vh) scale(0.88);
  }
  88.8888888889% {
    transform: translateX(16vw) translateY(-1vh) scale(0.34);
  }
  94.4444444444% {
    transform: translateX(15vw) translateY(-37vh) scale(0.35);
  }
  100% {
    transform: translateX(-2vw) translateY(-24vh) scale(0.31);
  }
}
.firefly:nth-child(24) {
  animation-name: move24;
}
.firefly:nth-child(24)::before {
  animation-duration: 18s;
}
.firefly:nth-child(24)::after {
  animation-duration: 18s, 6723ms;
  animation-delay: 0ms, 6111ms;
}

@keyframes move24 {
  0% {
    transform: translateX(-45vw) translateY(-13vh) scale(0.51);
  }
  4.1666666667% {
    transform: translateX(-6vw) translateY(-37vh) scale(0.9);
  }
  8.3333333333% {
    transform: translateX(48vw) translateY(48vh) scale(0.51);
  }
  12.5% {
    transform: translateX(47vw) translateY(-34vh) scale(0.87);
  }
  16.6666666667% {
    transform: translateX(-24vw) translateY(-1vh) scale(0.61);
  }
  20.8333333333% {
    transform: translateX(0vw) translateY(13vh) scale(0.45);
  }
  25% {
    transform: translateX(-30vw) translateY(15vh) scale(0.34);
  }
  29.1666666667% {
    transform: translateX(43vw) translateY(-17vh) scale(1);
  }
  33.3333333333% {
    transform: translateX(-4vw) translateY(45vh) scale(0.3);
  }
  37.5% {
    transform: translateX(-17vw) translateY(5vh) scale(0.54);
  }
  41.6666666667% {
    transform: translateX(20vw) translateY(-13vh) scale(0.28);
  }
  45.8333333333% {
    transform: translateX(40vw) translateY(-8vh) scale(0.29);
  }
  50% {
    transform: translateX(31vw) translateY(17vh) scale(0.8);
  }
  54.1666666667% {
    transform: translateX(47vw) translateY(-2vh) scale(0.54);
  }
  58.3333333333% {
    transform: translateX(-23vw) translateY(-28vh) scale(0.96);
  }
  62.5% {
    transform: translateX(11vw) translateY(20vh) scale(0.52);
  }
  66.6666666667% {
    transform: translateX(-15vw) translateY(44vh) scale(0.62);
  }
  70.8333333333% {
    transform: translateX(-38vw) translateY(40vh) scale(0.62);
  }
  75% {
    transform: translateX(31vw) translateY(3vh) scale(0.78);
  }
  79.1666666667% {
    transform: translateX(41vw) translateY(-14vh) scale(0.63);
  }
  83.3333333333% {
    transform: translateX(-2vw) translateY(16vh) scale(0.76);
  }
  87.5% {
    transform: translateX(5vw) translateY(-47vh) scale(0.51);
  }
  91.6666666667% {
    transform: translateX(0vw) translateY(-25vh) scale(0.74);
  }
  95.8333333333% {
    transform: translateX(3vw) translateY(8vh) scale(0.42);
  }
  100% {
    transform: translateX(-22vw) translateY(-12vh) scale(0.67);
  }
}
@keyframes drift {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0%, 30%, 100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }
  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}
@media screen and (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
  .search-bar {
    margin: 0 0 10px 0;
  }
  .search-dropdown {
    margin: 0 0 10px 0;
    padding: 0px;
  }
  .src-button {
    margin: 0;
  }
  .dropdown-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 0;
  }
  .search-dropdown, .src-button {
    flex: 1;
    height: 100%;
    margin: 0 5px 0 0;
  }
  .expanded-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .expandedImage {
    max-width: 100%;
    margin: 0 0 10px 0;
    height: auto;
  }
  .expandedContent {
    text-align: center;
    width: 100%;
  }
  .expanded-card img {
    max-width: 100%;
    margin-right: 0px;
  }
  .expanded-card-content {
    margin: 10px;
  }
}

/*# sourceMappingURL=styleTree.css.map */
